*{  
      margin: 0;
    padding:0;
     font-family: "Segoe UI", sans-serif;

}

  p{
  text-align: center;  
  font-size: 14px;  
}

body{
     background-color: rgb(217, 224, 231); 
    align-items: center;
    height: 100vh;
        display: flex;
  justify-content: center;
  align-items: center;
  

}
        
.shi{
     text-align: right;
     font-size: 20px;
      
       width: 400px;
      
         margin-right: 8px;
        padding: 10px 10px 10px 10px;
          border-radius: 6px;
         
         

}
.grid{
  text-align: left;
  
  background-color:white;
 font-size: 16px;
  border-radius: 10px;
   padding: 5px 20px 5px 20px;  
  display: flex;
    justify-content: space-between;
     
 
    
}
.name{
/* text-align: right;
 
 font-size: 14px;
  border-radius: 10px;
   padding: 5px 1px 5px 1px;  
  display: flex;
   justify-content: space-between; */
       justify-content: space-between;   
display: flex;
     align-items: left;;  
      column-gap: 1px ; 
     font-size: 14px; 
  
  

}
.size{
  /* text-align: right;
 
 font-size: 14px;
  border-radius: 10px;
   padding: 5px 1px 5px 1px;  
  display: flex;
   text-align: right; */
       justify-content: space-between;   
display: flex;
     align-items: center;  
      column-gap: 10px ; 
     font-size: 13px; 
  
  

    
}
.shap{
  text-align: left;
  color: white;
   font-size: 16px;
  padding: 3px 40px 3px 40px; 
    border-radius: 10px; 
    background-color: #155ab6;
   display: flex;
    justify-content: space-between;  
  }
.container {
  width: 400px;
  padding: 20px;
}
.header {
    text-align: center;
  display: flex;
      justify-content: space-between;
  align-items: center;
       margin-bottom: 30px;
       /* padding: 10px 10px 1px 10px; */
       
}
.logo {
  font-size: 22px;
   font-weight: bold; 
  color: #1A73E8;
}

.toggle button {
  border: none;
  background-color: #f0f0f0;
              padding: 8px 16px;
  margin-left: 5px;
  border-radius: 6px;
  font-weight: 500;
}

.toggle .active {
  background-color: #f0f0f0;
  color: #1A73E8;
}

.welcome {
  
  margin-bottom: 20px;
  align-items: center;
}

.welcome h2 {
  font-size: 24px;
  font-weight: bold;
  
}

.welcome p {
  color: #6b7280;
  font-size: 14px;
  margin-top: 4px;

}

.form-box {
  background-color: white;
  padding: 50px 30px 50px 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}
form input {
  width: 100%;
  padding: 10px;
      border: 1px solid #d1d5db;
  border-radius: 6px;
  margin-bottom: 10px;
   background: transparent;
   font-size: 14px; 

}

 
.box{
  display: flex;
     align-items: center; 
    
   
} 



.sign-in-btn {
  width: 100%;
  padding: 10px;
  background-color: #1A73E8;
  border-radius: 6px;
font-size: 12px;
color: aliceblue;
border: none;
 cursor: pointer;

}

.sign-in-btn:hover {
  background-color: #155ab6;
  cursor: pointer;}

.signin-text {
  text-align: center;
  margin-top: 15px;
  font-size: 12px;
    cursor: pointer;
}

.signin-text a {
color: #155ab6;
text-decoration: none;
  
}
.stor{
  font-size: 14px; 
}
