*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
body{
    text-align: center;
}
div{
     height: 100px; 
    width: 50px;  
    display: inline-flex;
    border: 2px solid black;
}
#container{
    height: 300px;
    width: 700px;
    display: flex;
    flex-direction:row ;
}
#box1{
   background-color: blue;
   height: 75px;
    flex-grow: 2;
}
#box2{
       background-color: blueviolet;
       height: 200px;
       /* flex-shrink:0.5 ; */
        flex-grow: 1;
}
#box3{
   background-color: gray;
   height: 50px;
}
#box4{
   background-color: fuchsia;
}
#box5{
   background-color: rgb(153, 90, 51);
}