*{
    font-family: 'Courier New', Courier, monospace;
}

div{/*50%for circle*/ 
    /* height: 100px;
    width: 100px;
    background-color: brown;
   border: 2px solid burlywood;
  border-radius: 1px; */
  /* padding-left: 25px;
    padding-right: 25px;
      padding-top: 25px;
      padding-bottom: 25px; */
       /* padding :50px;
       margin:50px; */
     /* height: 100px;
    width: 100px;
       background-color: green;
       border-radius: 50%; */
    height: 100px; 
    width: 100px;  
    background-color: aqua;
    display: block;
    border: 2px solid black;
} 
#box1{
  position: static;
    background-color: rgb(204, 255, 0);
}
#box2{
  position: relative;
  top: 20px;
  left: 20px;
  background-color: rgb(30, 0, 255);
}
#box3{
  position: sticky;
  top: 20px;
  left: 20px;
    background-color: rgb(242, 0, 255);
}
#box4{
position: fixed;
top: 0px;
}