*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
div{
    background-color: brown;
    height: 200px;
    width: 200px;
    border: 3px solid black;
    /* transition-property: all;
    transition-duration: 2s;
    transition-timing-function: steps(3);
    transition-delay: 1s; */
     /* transition: all 2s ease-in 1s;  */
    /* transform: rotatex(45deg); */
}
/* div:hover{ */
    /* background-color: burlywood; */
   /* color: white; */
    /* font-size: 20px; */
    /* transform: rotate(180deg); */

/* } */
/* div:active{
    border: 4px solid yellow;
} */
 /*  */
 
