*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;

}
body{
    background: #000;
    color: #fff;
}
.header{
    width: 80%;
    height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/bgimg.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position:relative ;
}
 
 .navbar{
     height: 120px;
    color: white;
       display:flex;
    align-items: center;
    justify-content: space-between; 
     padding:10px 0 ;  
 }
.nav-logo{
    height: 150px;
    width: 300px;
  
}
.logo{
    background-image: url("img/netflix-removebg-preview.png");
     background-size: cover;
    height: 100px;
    width: 80%;
    cursor: pointer;
   
   
}  

.nev-lang{
   
    color: #fff;
    padding:7px 20px;
    font-size:20px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}
.language-btn{
    display: inline-flex;
    align-items: center;
    background: transparent;
    
    color:#fff;

}
.sin{
     outline: 0;
    padding: 7px 10px;
    color: #fff;
     font-size:17px;
      border-radius: 10px;
      background-color:#db0001 ;
        
      
} 
.sin:hover{
    background: #bb0303;
}
  

  #count{
    background: transparent;
    color: #fff;
    
    font-size: 20px;
    padding: 7px 15px;
    font-size:17px;
    border-radius: 10px;
}
.header-content{
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 100px;
}
.header-content h1{
    font-size: 60px;
    line-height: 80px;
    font-weight: 600;
    max-width: 650px;
} 
.header-content h3{
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 30px;
    
}
.email-signup{
     
      background: transparent; 
    border-radius: 4px;
     display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-top: 20px;
    overflow: hidden;
  
    color: #fff;
   
    
    
}
.email-signup input{
    flex: 1;
   padding: 20px 0px 20px 20px;
    outline: 0;
    margin-left: 45px;
     background: transparent; 
    color: #fff;
    border:1px solid #fff;
     border-radius:6px;  
 font-size:20px ;
font-weight: 400;}
 .email-signup button{
     background-color:#db0001 ;
    display: flex;
    align-items: center;
    justify-content: space-between; 
   color:#fff;
    font-size: 20px;
    cursor: pointer;
   padding: 20px 30px 20px 30px; 
     margin-left:8px ; 
    border-radius:10px;

}
.email-signup button:hover{
         background: #bb0303;
}




.footer{
    
    background-color: #000;
    height: 100px;
    width: 100%
    
}
.box{
    width: 100%;
    height: 5px;
    left: -15%;
     background-color:#db0001 ;
     border-radius: 4px;

}
.text{
   padding-top :20px ;
   padding-left: 150px;
     
}
.featuers{
    width: 100%;
    max-width: 120rem;
       margin-left:150px; 
    padding-top: 40px;

    background-color: #000;

}
#movies{
      display:flex;
    align-items: center;
    justify-content: space-evenly;
     padding-left: 130px;
     padding-right: 130px;
}
.movies-box{
    width: 224px;
    height: 258px;
    background-color: #db0001;
    margin:8px 25px 30px 8px ;
     border-radius: 8px;
     position: relative;
    

}
.movies-box img{
    background-size: cover;
}
#movies div{
    transition: all 1s ease-in;
}
#movies div:hover{
    transform: scale(1.1);
}

 .num{
    color:#fff;
    font-size: 40px;
     position:absolute;
    bottom: 0;
    left:0; 
    right: 150px;
   top: 200px;
    
 }
 .close{
    margin-top: 270px;
     padding-top :20px ;
   padding-left: 150px;
   color:#beb4b4;
 }
 .final {
        position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 150px;


 }


.foot-panel{
    color:white ;
    height: 250px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 20px;
}
ul a{
    display: block;
    font-size: 0.95rem;
    margin-top: 20px;
    color:#beb4b4;
    
}
 .page-btn{
    margin-left: 190px;
   

    display:flex;
    align-items: center;
    background: transparent;
    
    color:#fff;
     border-radius: 4px;
}
.made{
    padding-top :20px ;
   padding-left: 200px;
   
    
}



    
 
